body {
    font-family: "Hiragino Sans GB W3", "Hiragino Sans GB", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei", "Apple LiGothic Medium", "SimHei", "ST Heiti", "WenQuanYi Zen Hei Sharp", "Sans";
    background: #E9F0F5;
}

button, .button{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: none;
    padding: .375rem .75rem;
    font-size: 16px;
    line-height: 1.5;
    border-radius: .4rem;
    transition: 0.4s ease background-color;
}

ul, li {
    list-style: none;
}

a, a:hover {
    text-decoration: none;
    transition: 0.4s ease all;
}

a:hover {
    color: skyblue;
}

.center-aligned {
    display: block;
    margin: auto auto;
}

.header {
    margin-top: 60px;
    margin-left: 10px;
}

.logo {
    float: left;
    margin-left: 40px;
}

.search {
    margin: auto auto;
    width: 450px;
}

#search_input {
    width: 75%;
}

#search_button {
    background-color: #1fe0d3;
    color: white;
}

#search_button:hover {
    background-color: #0c9e8f
}

.navigator {
    margin-top: 30px;
    margin-bottom: 150px;
}

.navigator li {
    background-color: #19a2e2;
    padding: 0.4em 2em;
    text-align: center;
    line-height: 2;
    font-size: 16px;
    font-weight: 400; 
    float: left;
    width: 25%;
}

.navigator a {
    color: white;
}

.navigator a:hover {
    color: #e7b466;
}

#post_model_form .form_input {
    display: block;
    margin: 20px 40%;
}

.form_input .button {
    display: block;
    margin: auto;
}

#post_model_form .form_input .button {
    background-color: #66ccff;
    color: white;
}

#post_model_form .form_input .button:hover {
    background-color: #4aa1c9;
    color: white;
}

.form_input_text {
    width: 400px;
}

.form_tag {
    font-size: 14px;
    color: grey;
    margin: auto;
}

.model_list {
    margin : auto 14%;
    width: 72%;
}

.model_cell {
    position: relative;
    float: left;
    margin: 10px;
    padding: 8px;
    color: grey;
    font-size: 16px;
    width: 250px;
    height: 200px;
    background-color: #eefffb;
    box-shadow: 3px 3px 3px;
}

.model_cell:hover {
    box-shadow: 5px 5px 5px;
}

.model_cell_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    background-color: white;
}

.model_cell_overlay:hover {
    opacity: 0.4;
}

.model_avatar {
    width: 100%;
    height: 130px;
}

.model_brief_info {

}

.model_list p{
    margin: 0.2em auto;
}

.btn_download {
    background-image: url(../img/download.svg);
    position: absolute;
    right: 6px;
    bottom: 12px;
    width: 24px;
    height: 24px;
    transition: 0.4s ease background-image;
}

.btn_download:hover {
    /*background-image: url(../img/download_purple.svg);*/
}